# Ignore everything
*/*
/*
src/liquid-detection/data
src/ipig-model/model_checkpoint


# Not these directories
!model/
!utils/
!src/
!src/*


# Not these files
!.gitignore
!requirements.txt
!*.py
!note
!pre_processing.ipynb
!*.md